argon2-cffi
async-generator
attrs
backcall
bleach
cffi
cycler
debugpy
decorator
defusedxml
entrypoints
graphviz
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook>=6.4.1
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
scipy
Send2Trash
six
terminado
testpath
tornado
traitlets
ujson
wcwidth
webencodings
widgetsnbextension
